<!--EXTERNAL SCRIPTS-->
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
{{ if eq .Site.Params.syntaxHighlighter "highlight.js" }}
  <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
{{ else if eq .Site.Params.syntaxHighlighter "prism.js" }}
  <script src="https://cdn.bootcss.com/prism/1.8.3/prism.min.js"></script>
{{ end }}
<script src="https://cdn.bootcss.com/fancybox/2.1.7/js/jquery.fancybox.min.js"></script>
<!--EXTERNAL SCRIPTS END-->
<!--SCRIPTS-->
<script src="/js/script-qi9wbxp2ya2j6p7wx1i6tgavftewndznf4v0hy2gvivk1rxgc3lm7njqb6bz.min.js"></script>
<!--SCRIPTS END-->
{{ range .Site.Params.customJS }}
  {{ if isset . "src" }}
    <script{{ range $key, $value := . }} {{ if eq $key "src" }}{{ (printf "%s=\"%s\"" $key ($value | absURL)) | safeHTMLAttr }}{{ else }}{{ (printf "%s=\"%s\"" $key (string $value)) | safeHTMLAttr }}{{ end }}{{ end }}></script>
  {{ else }}
    <script src="{{ . | absURL }}"></script>
  {{ end }}
{{ end }}
{{ if eq .Site.Params.syntaxHighlighter "highlight.js" }}
<script>
$(document).ready(function() {
  hljs.configure({ classPrefix: '', useBR: false });
  $('pre.code-highlight > code, pre > code').each(function(i, block) {
    if (!$(this).hasClass('codeblock')) {
      $(this).addClass('codeblock');
    }
    hljs.highlightBlock(block);
  });
});
</script>
{{ end }}
{{ if .IsPage }}
  {{ if not (eq .Params.comments false) }}
    {{ if .Site.DisqusShortname }}
      <script>
        var disqus_config = function () {
          this.page.url = '{{ .Permalink }}';
          {{ if .Params.disqusIdentifier }}
            this.page.identifier = '{{ .Params.disqusIdentifier }}';
          {{ else }}
            this.page.identifier = '{{ .URL | relURL }}'
          {{ end }}
        };
        (function() {
          // Don't ever inject Disqus on localhost--it creates unwanted
          // discussions from 'localhost:1313' on your Disqus account...
          if (window.location.hostname == "localhost") {
            return;
          }
          var d = document, s = d.createElement('script');
          var disqus_shortname = '{{ .Site.DisqusShortname }}';
          s.src = '//' + disqus_shortname + '.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
    {{ end }}
  {{ end }}
{{ end }}
{{ with .Site.Params.algolia }}
  {{ if (isset . "appId") | and (isset . "apiKey") | and (isset . "indexName") }}
    <script src="https://cdn.bootcss.com/moment.js/2.22.1/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/algoliasearch/3.24.5/algoliasearch.min.js"></script>
    <script>
      var algoliaClient = algoliasearch('{{ .appId }}', '{{ .apiKey }}');
      var algoliaIndex = algoliaClient.initIndex('{{ .indexName }}');
    </script>
  {{ end }}
{{ end }}
<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
  if (window.location.hostname !== "localhost") {
    (function(f, a, t, h, o, m){
      a[h]=a[h]||function(){
        (a[h].q=a[h].q||[]).push(arguments)
      };
      o=f.createElement('script'),
      m=f.getElementsByTagName('script')[0];
      o.async=1; o.src=t; o.id='fathom-script';
      m.parentNode.insertBefore(o,m)
    })(document, window, 'https://usefathom.cloud.ronggle.com/tracker.js', 'fathom');
    fathom('trackPageview');
  }
 </script>
 <!-- / Fathom -->

 <!--baidu push-->
 <script>
  if (window.location.hostname !== "localhost") {
    (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
    })();
  }
  </script>

<!-- Matomo -->
  <script type="text/javascript">
    if(window.location.hostname !== "localhost") {
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://matomo.cloud-labs.io/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    }
  </script>
  <!--live2d-->
  <script type="text/javascript">
    var message_Path = '/live2d/'
    var home_Path = 'https://ronggle.com/'  //此处修改为你的域名，必须带斜杠
  </script>
  <script type="text/javascript" src="/live2d/js/live2d.js"></script>
  <script type="text/javascript" src="/live2d/js/message.js"></script>
  <script type="text/javascript">
      loadlive2d("live2d", "/live2d/model/tia/model.json");
  </script>
<!-- End Matomo Code -->
